html{
color: brown;
font-size: 20px;
}

.main{
border-right: 3px solid #0A034A  ;
}
.navbar{
background-color: #0A034A  ;
}

.header{
font-size:30px;
}

th{
 font-size: 70px;
 color: red;
 }

 table {
   border: 1px solid #0A034A  ;
 }

 .main1{
 font-size: 30px;
 font-weight: 500px;
 color: white  ;
 }

 .add{
 background-color: #0A034A  ;
 font-size:50px;
  color: white;
 }

 h3{
  font-size:30px;
  color: #0A034A  ;
 }

 .add-btn{
 font-size:20px;
 }
 #todoItem{
 font-size:40px;
 }
 .add-btn1{
 font-size:20px;
 }